<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h4>{{title}}</h4>
    <input type="text" v-model="message.detail">
    <button @click="changeMessage">修改数据</button>
    <input type="text" v-model="count">
    <button @click="add">增加</button>
  </div>
  <!-- <script src="./defineProperty.js"></script>
  <script src="./proxy.js"></script> -->
  <script src="./vue.js"></script>
  <script>
 
    // 实例化Vue
    const vm = new Vue({
      el: '#app',
      data: {
        title: '未使用发布订阅者模式、虚拟DOM、简易的Vue实现',
        message: {
          detail: '第一次的数据'
        },
        count: 0
      },
      methods: {
        changeMessage() {
          this.message.detail = '修改后的数据';
        },
        add() {
          this.count++;
        }
      },
      render() {
        const h4 = document.querySelector('h4');
        h4.innerHTML = this.title;
        const input = document.querySelector('input');
        input.value = this.message.detail;

        const input2 = document.querySelectorAll('input')[1];
        input2.value = this.count;
      }
    });

    // 绑定点击事件
    document.querySelector('button').addEventListener('click', function () {
      vm.changeMessage.call(vm);
    });
    document.querySelectorAll('button')[1].addEventListener('click', function () {
      vm.add.call(vm);
    });
    // v-model
    document.querySelector('input').addEventListener('input', function (e) {
      vm.$data.message.detail = e.target.value;
    });
    document.querySelectorAll('input')[1].addEventListener('input', function (e) {
      console.log(e.target.value);
      vm.$data.count = e.target.value;
    });
  </script>
</body>

</html>